* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#caixa-video{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.95;
    position: fixed;
    
}

video{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main{
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 375px;
    height: 712px;
    padding: 44px 24px 23px;
    border: solid 3px white;
    border-radius: 20px;
    top: 40px;
}

label{
    color: white;
    font-weight: 400px;
    font-size: 14px;
    position: relative;
    bottom: 20px;
}

select, input{
    background-color: #ffffff;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
}

button{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: rgb(179, 179, 11);
    font-size: 18px;
    font-weight: 700;
    color: white;
    position: relative;
    bottom: 15px;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-radius: 20px;
    position: relative;
    top: 12px;
    padding: 15px;
}

.arrow {
    margin: 20px 0;
}

.curse {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency, .currency-dolar{
    color: white;
    font-size: 14px;
}

.currency-value, .currency-value-to-converse{
    font-size: 20px;
    font-weight: 700;
}